body {
    .content-wrapper {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.table-of-contents {
  grid-column: 1;
  position: sticky;
  top: 2rem;
  height: 90vh;
  overflow-y: auto;
  padding-right: 1.5rem;
}

.note-content {
  grid-column: 2;
}
}
